*{
    //font-size: 16px;
}
.navbar-brand{
    //font-size: 18px;
}

.omg{

    &.btn{}
    &.row{
        width: 100%;
    }
    & h1{
       //font-size: 30px;
    }
    & h2{
        //font-size: 25px;
    }
    & h3{
        //font-size: 22px;
    }
    & a{
        //font-size: 14px;
        margin: 2px 5px;
    }
    &.omg_header_search_input{
        color: white;
        label{
            font-weight: bolder;
            color: #ffffff82;
            &.active{
                color: white !important;
            }
            &:focus{
                color: white;
            }
        }
        i{
            margin-top: 4px;
            color: #ffffff82;
            &.prefix.active{
                color: #ffffff;
            }
        }
    }
}

#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    input::selection { color: red; };
}

